body {

}

.blok {
    width: 1170px;
    height: 150px;
    left: 182px;
    top: 40px;
   text-align: center;
    margin-left: 6%;
    margin-top: 15%;
    border: solid 1px transparent;
}

.txt {
    font-family: 'Raleway', sans-serif;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 36px;
    line-height: 42px;
    margin-left: 10.5em;
    margin-top: 1.30em;
    text-transform: uppercase;

}

.line {
margin-top: 5%;
    margin-left: 42%;
    width: 170px;
    height: 0px;
    left: 42%;
    top: 100%;

    border: 1px solid #EC7979;
}

.txt2 {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    margin-top: 10%;
    margin-left: 1%;
    color: #86878B;
}

.png2 {
    width: 15%;
}

.txt3 {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    line-height: 21px;
    align-items: center;
    font-size: 18px;
    font-weight: 900;

}

.txt4 {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    text-align: center;
    font-weight: normal;

}

.main {
    width: 30%;
    height: 600px;
    border: solid 0px transparent;
    background-color: transparent;
    float: left;
}

.main2 {
    width: 5%;
    height: 600px;
    border: solid 0px transparent;
    background-color: transparent;
    float: left;
}